<div class="primary panel-primary">
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Description<br>&nbsp;</th>
                    <th><button type="button" class="btn btn-primary btn-lg" (click)="addNewTruckModel()">Add New</button></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let model of truckmodels">
                    <td>{{ model.description }}</td>
                    <td>
                        <button type="button" class="btn btn-warning btn-sm" (click)="modifyData(model.id)">Modify</button>
                        <button type="button" class="btn btn-danger btn-sm ml-1" (click)="removeData(model.id)">Remove</button>
                    </td>
            </tbody>
        </table>
    </div>
</div>