<div style="width: 80%;">
    <form (ngSubmit)="onSubmit()">

    <div class="row">
        <div class="form-group col-sm">
            <small>Description</small>
            <input type="text" class="form-control" id="description" name="description" required [(ngModel)]="truck.description">
        </div>
        <div class="form-group col-sm" id="truckModelId">
            <small for="truckModelId">Truck Model</small><br>
            <select class="form-control" id="truckModelId" name="truckModelId" [(ngModel)]="truck.truckModelId" type="text">
                <option *ngFor="let model of truckmodels" value="{{model.id}}">{{ model.description }}</option>
            </select>
        </div>
    </div>

      <div class="row">
        <div class="form-group col-sm">
            <small for="yearBuild">Year Build</small>
            <input type="number"class="form-control" id="yearBuild" name="yearBuild" required [(ngModel)]="truck.yearBuild">
        </div> 
        <div class="form-group col-sm">
            <small for="yearModel">Year Model</small>
            <input type="number" class="form-control" id="yearModel" name="yearModel" required [(ngModel)]="truck.yearModel">
        </div>                  
    </div>
  
      <div>
          <button type="button" class="btn btn-success btn-sm" (click)="saveTruck()">SAVE</button>
          <button type="button" class="btn btn-warning btn-sm" (click)="gotoList()">CANCEL</button>
      </div>
    </form>
  </div>